---
layout: default
---
{% assign posts_count = (paginator.posts | size) %}

<div class="home">
  {% if posts_count > 0 %}
    <div class="posts">
      {% for post in paginator.posts %}
        <div class="post py3">
          <!--<p class="post-meta">{{ post.date | date: site.date_format }}</p>-->
          <!--<a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
          <p class="post-summary">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </p>-->
          <h3 class="h1 post-title">Hi, I'm Jaco</h3>
          <p>I’m a London based freelance UI/UX designer.</p>
  <header class="post-header">
              <h1 class="h2">The bit about me</h1>
  </header>
  <article class="post-content">

<p>My skills and expertise:</p>

<ul>
  <li>User Experience design</li>
  <li>Information architecture and Wireframing</li>
  <li>Prototyping interactions.</li>
  <li>Interaction design, animations and transitions.</li>
  <li>Sketch, Principle, Framer, Invision, Axure RP (Adobe software, IF I REALLY need to)</li>
</ul>
<h1 class="h2">My Portfolio</h1>
  <p>Here is my latest <a href="{{ site.baseurl }}/pdf/RecentProjects2016.pdf" class="post-link">Portfolio</a>   
  and </p>
<h1 class="h2">My CV</h1>
<p>Here's my most up to date <a href="{{ site.baseurl }}/pdf/jaco_otto_cv.pdf" class="post-link">CV</a></p>
         
<p> P.S My site is currently under construction. </p>
          
          <br>
          <br>
          <br>
      {% endfor %}
    </div>

    <!--{% include pagination.html %}-->
  <!--{% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h3>-->
  <!--{% endif %}-->
</div>
